@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;700&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.righteous {
  font-family: 'Righteous', cursive;
}

.grad {
  background: -webkit-linear-gradient(rgb(61 184 104), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lexend{
  font-family: 'Lexend Deca', sans-serif;
}

/* Debug */
/* * {
  box-sizing: border-box;
  background: rgb(0 100 0 / 0.05) !important;
} */
